
<!DOCTYPE html>
<html>
<head>
<title>REGISTER</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="matrix" id="matrix"></div>

<div class="box">

<h1 class="glitch">CREATE ACCOUNT</h1>

<form method="POST">

<input name="username" placeholder="USERNAME">

<input name="password" type="password" placeholder="PASSWORD">

<button>CREATE</button>

</form>

<p>Username admin = admin access</p>

<a href="/login">LOGIN</a>

</div>

<script src="/static/script.js"></script>

</body>
</html>
